# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# PyCharm project files
.idea/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
